<title>jugar</title>
{% extends "base/base.html" %}

{% block contenido %}

<form action="" method="POST">{% csrf_token %}
    <dir>
        <div><label class="form-label">pregunta </label>
            <div class="form-text">{{pregunta}}</div></div>
        <div class="mb-3"><label class="form-label">opciones</label></div>

    {% if longitud %}
            {% for c in respuestas %}
               <div> <input type="checkbox" class="form-check-input">
                   <label class="badge badge-primary">{{c.correcta}}</label></div>
            {% endfor %}
    {% else %}
            {% for c in respuestas %}
                <div >
                     <a href="{% url 'jugar' c.estado %}" class="btn btn-outline-primary">{{c.correcta}}</a>
                </div>
            {% endfor %}
    {% endif %}

    </dir>
        <dir><dir><button type="submit" class="btn btn-primary">enviar</button></dir></dir>
</form>

{% endblock contenido %}