<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>cargar preguntas para el juego </title>
    <ul> # crear esta pagina para cargar las preguntas de una formas mas grafica
         # tambien para que una ves cargada las preguntas esas probar que el juego funcione bien con esas preguntas cargada
         # esta pagina tendria que ver solo el admin
         # tambien una opcion de ver todas las estadisticas de los jugadores


            </ul>
    </head>
    <body>

    </body>
</html>